.row.nav-approach
	max-width: none



.nav-approach
	padding-top: 216px
	.article-nmbr
		height: 52px
		width: 52px
		text-align: center
		line-height: 52px

		&.active
			border: 1px solid black
			border-radius: 50%

	.title
		height: 123px
		font-family: "Grotesk-light", arial, sans-serif
		font-size: 123px
		line-height: 70px
		vertical-align: top
