@mixin font-face($style-name, $file, $family, $category:"")
  $filepath: $file
  @font-face
    font-family: "#{$style-name}"
    src: url($filepath)
@include font-size-xx-large
  %#{$style-name}
    font:
      @if $category != ""
        family: "#{$style-name}", #{$category}
      @else
        family: "#{$style-name}"
      weight: normal

/ @include font-face('Grotesk-Light', "https://www.dropbox.com/s/j3unjzsfnpiv3ym/FoundersGroteskTextWeb-Light.eot?dl=1", 'arial', 'sans-serif')
/ @include font-face('Grotesk-Light-Italic', "https://www.dropbox.com/s/bimd8lxfw9yoi1l/FoundersGroteskTextWeb-LightItalic.eot?dl=1", 'arial', 'sans-serif')
