.nav-home

	h2
		position: relative
		left: -4.166666666666%
		font-size: 123px
		text-align: center
		width: 100%
		padding: 15% 0%

.nav-foot

	footer
		p
			position: relative
			vertical-align: bottom
			font-size: 18px
