.nav-home

	footer
		margin: 0 auto
		width: 110px

		*
			display:inline

		p
			font-size: 18px

		img
			width: 19px
			height: 7px
			margin-bottom: 5px
			visibility: hidden
			cursor: pointer

			&.active
				visibility: visible
