.nav-home

	h2
		position: relative
		font-size: 123px
		text-align: center
		width: 100%
		padding: 10% 0%

.nav-foot

	footer
		width: 100%
		height: 18px
		position: absolute
		bottom: 0
		margin-bottom: 52px

		*
			display:inline

		p
			position: relative
			vertical-align: bottom
			font-size: 18px
			line-height: 18px

		img
			width: 19px
			height: 7px
			margin-bottom: 5px
			visibility: hidden
			cursor: pointer

			&.active
				visibility: visible
