$grayish-red: #f5f2f2
$grayish-yellow: #edebe1
$grayish-green: #f0f7eb

body
	background-image: url("../img/proef-logo.png")
	background-repeat: no-repeat
	background-position: 50% 52px
	margin: 0 0
	transition: background-color 1000ms linear
	font-family: "Everson-mono", arial, sans-serif
	transform-style: preserve-3d

	p
		margin-bottom: 0
		line-height: 1

	&.mouse-left
		cursor: url(../img/cursor-l.png)0 25, auto

	&.mouse-right
		cursor: url(../img/cursor-r.png) 91 25, auto

	&.home\.1
		background-color: $grayish-yellow
	&.home\.2
		background-color: $grayish-red
	&.home\.3
		background-color: $grayish-green
	&.home\.4
		background-color: $grayish-yellow
	&.home\.5
		background-color: $grayish-red

	&.about
		background-color: $grayish-yellow

	&.approach
		background-color: $grayish-red

	&.contact
		background-color: $grayish-green

	&.store
		background-color: #ECE2EA

.nav
	z-index: 999
	position: fixed
	margin-left: 0px
	width: 559px
	transform-origin: right top
	list-style-type: none
	transform:rotate(-90deg) translateX(50%) translateY(-549px)
	top:50%

	li
		width: 120px
		display: inline-block

		&:nth-child(1), &:nth-child(2)
			margin-right: 90px

		div
			padding: 18px 18px
			margin: 0 auto
			text-align: center

			&:hover, &.active
				color: black
				padding: 17px 17px
				border: 1px solid black

			a, p
				cursor: inherit
				color: black
				font-size: 18px
				line-height: 18px

				&:hover
					cursor: inherit
					color: black

ul.nav
	font-family: "Everson-mono", arial, sans-serif

ul.nav li
