body
	background-image: url("../img/proef-logo.png")
	background-repeat: no-repeat
	background-position: 50% 52px
	margin: 0 0
	transition: background-color 1000ms linear
	font-family: "Everson-mono", arial, sans-serif
	transform-style: preserve-3d

	&.mouse-left
		cursor: url(../img/cursor-l.png)0 30, auto

	&.mouse-right
		cursor: url(../img/cursor-r.png) 91 30, auto

	&.background-1
		background-color: #F5F2F2

	&.background-2
		background-color: #EEE7E8

	&.background-3
		background-color: #E4E7E3

	&.background-4
		background-color: #E9E5DF

	&.background-5
		background-color: #ECE2EA


.main-view

.nav
	position: fixed
	margin-left: 0px
	width: 531px
	transform-origin: right top
	list-style-type: none
	transform:rotate(-90deg) translateX(50%) translateY(-516px)
	top:50%

	li
		display: inline-block

		&:nth-child(1), &:nth-child(2)
			margin-right: 90px

		div
			padding: 18px 18px
			margin: 0 auto
			text-align: center

			&:hover, &.active
				color: black
				padding: 17px 17px
				border: 1px solid black

			a, p
				cursor: inherit
				color: black
				font-size: 18px
				line-height: 18px
				margin-bottom: 0

				&:hover
					cursor: inherit
					color: black

ul.nav
	font-family: "Everson-mono", arial, sans-serif

ul.nav li
