
body
	height: 100vh
	width: 100vw
	margin: 0 0
	-webkit-transition: background-color 1000ms linear
	-moz-transition: background-color 1000ms linear
	-o-transition: background-color 1000ms linear
	-ms-transition: background-color 1000ms linear
	transition: background-color 1000ms linear
	font-family: "Grotesk-Light", arial, sans-serif

#super-row
	max-width: 100%

.grotesk-light
  font-family: "Grotesk-Light", arial, sans-serif

.grotesk-light-italic
  font-family: "Grotesk-Light-Italic", Fallback, sans-serif
  font-style: italic

body.mouse-left
	cursor:crosshair

body.mouse-right
	cursor: progress

body.background-1
	background-color: #D7E2DC

body.background-2
	background-color: #EEE7E8

body.background-3
	background-color: #E4E7E3

body.background-4
	background-color: #E9E5DF

body.background-5
	background-color: #ECE2EA


.main-view
	text-align: center
	height: 100%
	float: right

nav .nav
	width: 463px
	-webkit-transform-origin: left top
	-webkit-transform:rotate(-90deg) translateX(-100%)
	list-style-type: none
	margin-left: 0px

	li
		display: inline-block
		
		&:nth-child(1), &:nth-child(2)
			margin-right: 90px

		div
			cursor: pointer
			padding: 18px 18px
			margin: 0 auto
			text-align: center

			&:hover, &.active
				padding: 17px 17px
				border: 1px solid black

			a, p
				color: black
				font-size: 1rem
				line-height: 1rem
				margin-bottom: 0




// ul.nav
// 	list-style-type: none
//   margin:0 auto
//   height:100%

// ul.nav li
// 	margin-right:20px
// 	float:right
// 	height:100%
// 	line-height:45px
