<div class="nav-approach">
<article>
	<header>
			<h1>What we do</h1>
	</header>
	<section>
		<p>
			We are a trend forecasting collective, offering you a tailored vision into the future who, what, where, why and how behind product, people, and brand.
		</p>
		<p>
			We translate consumer emotions and map them over trends  (market-1, technical-2, socio-cultural-3) to provide not only insight but foresight; allowing you to create, develop and market originality.
		</p>
		<p>
			The right product at the right time.
		</p>
	</section>
</article>

<article>
	<header>
			<h1>How we work</h1>
	</header>
	<section>
		<p>
			Together, we can get to know who you are; your paradigm, perspective and needs. We help you be you.
		</p>
		<p>
			Our approach is dynamic-1, nothing is pre-packaged. We will create a tailored team-2 and strategy-3, to give you a holistic vision, based on future opportunities.
		</p>
		<p>
			We inspire, identify, clarify, and translate; Proef can help you see it through. From long term strategy to the smallest details.
		</p>
	</section>
</article>

<article>
	<header>
			<h1>What we offer</h1>
	</header>
	<section>
		<p>
			We offer tailored insight to create, support and develop your vision:
		</p>
		<p>
			Trend forecasting / Finding your vision; opportunity, positioning, strategy / Material, style and color forecasting and direction / Concept development / Brand and product strategy / Brand, marketing and design direction / Color, material and finish application / Workshops and exhibitions
		</p>
	</section>
</article>

<article>
	<header>
			<h1>Aesthetics</h1>
	</header>
	<section>
		<p>
			gif (will be provided)
		</p>
	</section>
</article>

<article>
	<header>
			<h1>Clients</h1>
	</header>
	<section>
		<p>
			Samsung/ Gregory / Maybelline / Nude Audio / Sperry topsiders / Neurosky / Carhartt / Kaiser Permanente / BSSP / Atmel / SOL Republic / Sorel  / Petedge / Polyera / Walmart.com / HP / Logitech / Cisco / GAP / Levi’s
		</p>
	</section>
</article>
</div>
