<div class="nav-approach row left">
	<div class="large-12 columns">

		<header class="row" slide-toggle="#whatWeDo" ng-click="articleToggle('whatWeDo')">
			<div class="large-1 large-offset-1 columns text-center">
				<div class="article-nmbr" ng-class="{ 'active': activeArticle('whatWeDo') }">1</div>
			</div>
			<div class="large-8 columns left title-container">
				<div class="title">What we do</div>
			</div>
			<div class="large-1 columns left">
				<div class="icon-up" ng-show="activeArticle('whatWeDo')">
					<img src="img/arrow-up.png" alt="open indication arrow"></img>
				</div>
			</div>
		</header>

		<article class="row">
			<div class="large-10 large-offset-1 columns article-box" ng-class="{ 'active': activeArticle('whatWeDo') }">
				<div id="whatWeDo" class="slideable large-5 large-offset-1 columns">
					<section class="description">
						<p>
							We are a trend forecasting collective, offering you a tailored vision into the future who, what, where, why and how behind product, people, and brand.
						</p>
						<br>
						<p>
							We translate consumer emotions and map them over trends  (<span class="footnote" ng-click="toggleFootnote('market')" ng-class="{ 'active': footNotes.market }">market-1</span>, technical-2, socio-cultural-3) to provide not only insight but foresight; allowing you to create, develop and market originality.
						</p>
						<br>
						<p>
							The right product at the right time.
						</p>
					</section>
				</div>
				<div class="large-4 columns left">
					<div class="footnote" ng-class="{ 'open': footNotes.market }">
						<div class="box">
							<div class="content">
								<div class="close-icon" ng-click="toggleFootnote('market')">
									<img src="img/close-icon.png" alt="close">
								</div>
								<p>1 A market trend is a tendency of financial markets to move in a particular direction over time. These trends are classified as secularA for long time frames, primary for medium </p>


							</div>
						</div>
					</div>
				</div>
			</div>
		</article>

		<header class="row" slide-toggle="#howWeWork" ng-click="articleToggle('howWeWork')">
			<div class="large-1 large-offset-1 columns text-center">
				<div class="article-nmbr" ng-class="{ 'active': activeArticle('howWeWork') }">2</div>
			</div>
			<div class="large-8 columns left title-container">
				<div class="title">How we work</div>
			</div>
			<div class="large-1 columns left">
				<div class="icon-up" ng-show="activeArticle('howWeWork')">
					<img src="img/arrow-up.png"></img>
				</div>
			</div>
		</header>

		<article class="row">
			<div class="large-10 large-offset-1 columns article-box" ng-class="{ 'active': activeArticle('howWeWork') }">
				<div id="howWeWork" class="slideable large-5 large-offset-1 columns">
					<section class="description">
						<p>
							Together, we can get to know who you are; your paradigm, perspective and needs. We help you be you.
						</p>
						<br>
						<p>
							Our approach is dynamic-1, nothing is pre-packaged. We will create a tailored team-2 and strategy-3, to give you a holistic vision, based on future opportunities.
						</p>
						<br>
						<p>
							We inspire, identify, clarify, and translate; Proef can help you see it through. From long term strategy to the smallest details.
						</p>
					</section>
				</div>
			</div>
		</article>

		<header class="row" slide-toggle="#whatWeOffer" ng-click="articleToggle('whatWeOffer')">
			<div class="large-1 large-offset-1 columns text-center">
				<div class="article-nmbr" ng-class="{ 'active': activeArticle('whatWeOffer') }">3</div>
			</div>
			<div class="large-8 columns left title-container">
				<div class="title">What we offer</div>
			</div>
			<div class="large-1 columns left">
				<div class="icon-up" ng-show="activeArticle('whatWeOffer')">
					<img src="img/arrow-up.png"></img>
				</div>
			</div>
		</header>

		<article class="row">
			<div class="large-10 large-offset-1 columns article-box" ng-class="{ 'active': activeArticle('whatWeOffer') }">
				<div id="whatWeOffer" class="slideable large-5 large-offset-1 columns">
					<section class="description">
						<p>
							We offer tailored insight to create, support and develop your vision:
						</p>
						<br>
						<p>
							Trend forecasting / Finding your vision; opportunity, positioning, strategy / Material, style and color forecasting and direction / Concept development / Brand and product strategy / Brand, marketing and design direction / Color, material and finish application / Workshops and exhibitions
						</p>
					</section>
				</div>
			</div>
		</article>

		<header class="row" slide-toggle="#aesthetics" ng-click="articleToggle('aesthetics')">
			<div class="large-1 large-offset-1 columns text-center">
				<div class="article-nmbr" ng-class="{ 'active': activeArticle('aesthetics') }">4</div>
			</div>
			<div class="large-8 columns left title-container">
				<div class="title">Aesthetics</div>
			</div>
			<div class="large-1 columns left">
				<div class="icon-up" ng-show="activeArticle('aesthetics')">
					<img src="img/arrow-up.png"></img>
				</div>
			</div>
		</header>

		<article class="row">
			<div class="large-10 large-offset-1 columns article-box" ng-class="{ 'active': activeArticle('aesthetics') }">
				<div id="aesthetics" class="slideable large-5 large-offset-1 columns">
					<section class="description">
						<p>
						We offer tailored insight to create, support and develop your vision:
						</p>
						<br>
						<p>
							gif (will be provided)
						</p>
					</section>
				</div>
			</div>
		</article>

		<header class="row" slide-toggle="#clients" ng-click="articleToggle('clients')">
			<div class="large-1 large-offset-1 columns text-center">
				<div class="article-nmbr" ng-class="{ 'active': activeArticle('clients') }">5</div>
			</div>
			<div class="large-8 columns left title-container">
				<div class="title">Clients</div>
			</div>
			<div class="large-1 columns left">
				<div class="icon-up" ng-show="activeArticle('clients')">
					<img src="img/arrow-up.png"></img>
				</div>
			</div>
		</header>

		<article class="row">
			<div class="large-10 large-offset-1 columns article-box" ng-class="{ 'active': activeArticle('clients') }">
				<div id="clients" class="slideable large-5 large-offset-1 columns">
					<section class="description">
						<p>
							Samsung/ Gregory / Maybelline / Nude Audio / Sperry topsiders / Neurosky / Carhartt / Kaiser Permanente / BSSP / Atmel / SOL Republic / Sorel  / Petedge / Polyera / Walmart.com / HP / Logitech / Cisco / GAP / Levi’s
						</p>
					</section>
				</div>
			</div>
		</article>

	</div>

</div>
